# 함수
    
    - 반복해서 사용할 코드를 묶어서 구현
    - 같은 이름의 함수는 덮어씀(오버로딩 불가)
    - 함수 정의(구현)
    
    ```
        def 함수명([인수(매개변수)1, 인수2,...]):
            명령어 1
            명령어 2        
    ```

## 1. 함수의 정의 및 사용
### 1.1 함수 정의

In [1]:
# 변수를 따로 지정해주지 않아도 순서대로 들어간다.
def hello(x, msg):
    for i in range(x):
        print(i,msg)
        
hello(3,"hello!")

0 hello!
1 hello!
2 hello!

In [9]:
# default 값 설정 가능
def my_add(n1,n2,n3=0):
    return n1+n2+n3

print(my_add(1,2,3))
print(my_add(1,2,))
print(my_add(1,2))

6
3
3

### 1.2 Docstring.
- 함수의 도움말을 shift + tap 으로 확인할 수 있다.

### 1.3 지역변수(local var) 전역변수(global var)

In [12]:
# 함수 밖에서 지정해주는 변수는 모두 전역변수
global_var = 100 #전역변수
def function1():
    print(global_var)

# 전역 변수가 선언되었음으로 따로 지정해주지 않아도 됨
function1()

100

In [13]:
global_var = 100  # 전역변수
def function2():
    global_var = 200  # 지역변수
    print(global_var)
    
function2()
print(global_var)

200
100

In [15]:
global_var = 100  # 전역변수
def function2():
    global global_var  # 지역변수를 전역변수로
    global_var = 200 
    print(global_var)
    
function2()
print(global_var)

200
200

## 2. 함수의 실행결과를 반환하는 return
   - 여러개의 값을 반환할 수 있다 (하나의 튜플로 반환)

In [20]:
def swap(a,b):
    return b,a

In [21]:
x, y = 5, 10  # 자동적으로 (5, 10)으로 인식함
print("함수 실행 전 x={}, y={}".format(x,y))
x, y = swap(x,y)
print("함수 실행 후 x={}, y={}".format(x,y))

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

## 3. 함수의 매개변수
### 3.1 기본값을 갖는 매개변수

In [ ]:
# 반드시 순서인수(기본값이 없는 인수), 기본값을 갖는 인수(키워드 인수 아님) 순으로 와야함
def make_url(ip, port=80):
    return "http://{}:{}".format(ip,port)

### 3.2 튜플 매개변수를 이용한 가변인수(인수갯수가 가변) 설정

In [22]:
print("Hello","World") # 대표적인 가변인수

Hello World

In [24]:
def add(*args): # *args : 어떤 값이든 튜플로 묶어서 받음
    sum = 0
    for num in args:
        sum += num
    return sum

In [33]:
add(1,2,3,4,5)
add(*[1,2,3,4,5]) 
# 리스트 자료형을 넣고 싶을 때는 *을 붙여서 tuple 형식으로 바꿔서 넣어줘야 한다.

15

In [32]:
add(*range(1,100))

4950

In [38]:
# 잘못된 방식
def function(*args,x): 
    sum = 0
    for num in args:
        sum += num
    return sum*x 

function(1,2,3,4,5, x=2)
# function(*[1,2,3,4,5], 2)

30

In [40]:
# 옳은 방식
def function2(x, *args): 
    sum = 0
    for num in args:
        sum += num
    return sum*x 

function2(1,2,3,4,5)

14

In [52]:
def concat(*args, sep):
    return sep.join(args) 
concat("C" , "Python", "Oracle", "~")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [53]:
# 해결책 1 
def concat(*args, sep):
    return sep.join(args) 
concat("C" , "Python", "Oracle", sep = "~")

'C~Python~Oracle'

In [54]:
# 해결책 2 -> 반드시 이 방법을 따라야함
# 순서인수를 튜플인수 앞에 써야함 
def concat(sep, *args):    # 기본값을 받는 인수는 튜플인수 뒤에옴
    return sep.join(args) 
concat("~", "C" , "Python", "Oracle")

'C~Python~Oracle'

In [55]:
# 해결책 3
def concat(*args, sep = "/"):  # 순서:  순서인수 > 튜플인수 > 키워드 인수
    return sep.join(args) 
# 키워드 인수를 사용할 때는 무조건 sep = "~"을 해줘야함
concat("C" , "Python", "Oracle", sep = "~")

'C~Python~Oracle'

### 3.3 딕셔너리 매개변수

In [56]:
def func(**args):  # **은 args가 딕셔너리로 전달 
    print(args)
    print(type(args))
func(name = "홍길동", age = 20)

{'name': '홍길동', 'age': 20}
<class 'dict'>

In [57]:
def func(**args):  # **은 args가 딕셔너리로 전달 
    for key, value in args.items():
        print("{} : {}".format(key, value))
func(name = "홍길동", age = 20)

name : 홍길동
age : 20

In [58]:
func(game_name = "서바이벌c", year = 2024, price = 33000)

game_name : 서바이벌c
year : 2024
price : 33000

### 3.4 함수 정의 시 매개변수의 순서
   **순서인수 > 튜플인수(*) > 키워드 인수(매개변수 이름을 명시) > 딕셔너리 인수(**)

In [59]:
def func(a, b, c, *d, e=10, **f):
    print('a = ', a)
    print('b = ', b)
    print('c = ', c)
    print('d = ', d)
    print('e = ', e)
    print('f = ', f)

In [60]:
func(10,20,30,1,2,3,4,5,e=100, height=180, name="홍길동", address="서울시")

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  100
f =  {'height': 180, 'name': '홍길동', 'address': '서울시'}

In [61]:
func(10,20,30,1,2,3,4,5, height=180, name="홍길동", address="서울시")

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  10
f =  {'height': 180, 'name': '홍길동', 'address': '서울시'}

### 3.5 인수의 언패킹

In [62]:
# 튜플 인수 언패킹
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [63]:
data = (1,2,3,4,5,6)
add(*data)  #data 가 이미 tuple 변수이므로 *data 해주면 튜플이 풀림

21

In [65]:
# 딕셔너리 인수 언패킹
def func(**args):  # **은 args가 딕셔너리로 전달 
    for key, value in args.items():
        print("{} : {}".format(key, value))
func(name = "홍길동", age = 20)

name : 홍길동
age : 20

In [ ]:
dic = {"name" : "홍길동", "age" : 30}
func(**dic)

## 4. 람다식
    - 람다식은 *작은 익명함수*를 의미함
    - 실행할 문장을 한문장만 작성할 수 있음
    - 리스트 컴프리헨션과 같이 참조해서 학습 추천
    - map(), filter()에서 사용할 예정

In [68]:
add_1 = lambda a, b :a+b
add_1(1,10)

11

In [70]:
(lambda a, b :a*b)(2,3)

6

In [71]:
def map_template(func,L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [72]:
l_data = [1,2,3,4,5,6,7,8,9,10]
map_template(lambda a:a**2, l_data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
# map은 l_data의 리스트 값을 받아서, lambda 함수 처리 후 append
list(map(lambda a:a**2, l_data))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
# filter는 l_data의 리스트 값을 받아서, lambda 함수의 조건 처리 후(무조건 조건문~), 적합한 값만 append
list(filter(lambda a: a%2==0, l_data))

[2, 4, 6, 8, 10]