# 데이터 구조

# 1. 리스트
## 1.1 리스트 만들기

In [45]:
# 리스트에는 문자열, 숫자 동시에 들어갈 수 있음

# 안 좋은 방법
fruits = ["Watermelon", 2, "banana", True]
for i in range(len(fruits)):
    print("{}번째 과일은 {}입니다".format(i,fruits[i]))

0번째 과일은 Watermelon입니다
1번째 과일은 2입니다
2번째 과일은 banana입니다
3번째 과일은 True입니다

In [46]:
# 더 좋은 방법
# enumerate는 항상 순서대로 index와 data를 반환
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다".format(idx,value))

0번째 과일은 Watermelon입니다
1번째 과일은 2입니다
2번째 과일은 banana입니다
3번째 과일은 True입니다

In [47]:
for idx, value in enumerate(fruits):
    print(idx,value)

0 Watermelon
1 2
2 banana
3 True

## 1.2 요소 추가
- **tap하면 완성됨**

In [48]:
numbers = [1,2,3]
# 뒤에 열의 값으로 추가된다, 곱하면 반복
print(numbers + numbers); print(numbers*3)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
# 추가할 때는 append

numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [50]:
numbers += [5]
print(numbers)

[1, 2, 3, 4, 5]

In [51]:
numbers2 = [6,7,8]
# numbers.append(numbers2) -> [1, 2, 3, 4, 5, [7, 8]]
numbers.extend(numbers2) # 자료형에 맞춰서 값만 넣어주는 역할 👍
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

# 1.3 인덱스

In [52]:
numbers = [1,2,3,[1,2,3],'cool']
print("2가 몇 개야?{}".format(numbers.count(2)))

2가 몇 개야?1

In [53]:
2 in numbers

True

In [54]:
"cool" in numbers

True

In [55]:
numbers.index("cool") # 몇 번쨰에 있는 요소인지 인덱스 알려줌

4

## 1.4 리스트의 원하는 내용만 추출
- 슬라이싱
- **리스트 컴프리핸션 : 많이 쓰임!🚨**

In [56]:
numbers = list(range(1,20))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
numbers[1::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
answer = []
for num in numbers:
    if num%2==0:
        answer.append(num)
answer

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [59]:
# 리스트 컴프리핸션~!
answer = [num for num in numbers if num%2==0]
answer

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
numbers = list(range(1,10))
answer = [num**2 for num in numbers]
answer

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 1.5 삭제하기
- remove(data) : 해당 data가 제거 
- del 리스트[idx] : idx 번째 요소 제거
- pop() : 가장 마지막 인덱스 요소가 return되고 삭제됨

In [62]:
numbers = list(range(1,10,2))
numbers

[1, 3, 5, 7, 9]

In [63]:
# 마지막 값만 삭제한 후 출력
numbers.pop()

9

In [64]:
# 값을 기준으로 삭제
numbers.remove(1)
numbers

[3, 5, 7]

In [65]:
# 인덱스 기준으로 삭제
del numbers[2]
numbers

[3, 5]

## 1.6 정렬하기

In [73]:
numbers = [7,1,2,45,67,7,3,66,8,3]
numbers

[7, 1, 2, 45, 67, 7, 3, 66, 8, 3]

In [74]:
# 내림차순으로 정렬하고 싶으면 reverse=True를 사용
numbers.sort(reverse=True)
numbers

[67, 66, 45, 8, 7, 7, 3, 3, 2, 1]

In [ ]:
numbers_asc = sorted(numbers)
numbers_asc

## 1.7 리스트 복제

In [83]:
numbers = [6,1,2]
new_numbers = numbers
numbers.sort()

In [78]:
# new_numbers도 바뀐 것 확인 : 얕은 복사
print(numbers, new_numbers)

[1, 2, 6] [1, 2, 6]

In [87]:
# 깊은 복사 (복사한 내용의 영향을 받지 않는다)
numbers = [6,1,2]
new_numbers2 = numbers.copy()
numbers.sort()
new_numbers2

[6, 1, 2]

# 2. 튜플

- 리스트와 유사하지만 읽기용
- 소괄호 이용

In [90]:
list_example = ['서울']
type(list_example)

list

In [92]:
tuple_example = ('서울')
print(type(tuple_example))
# 하나만 있으면 튜플로 인식 못함, 한개 하면 ,을 넣어주어야 한다!

tuple_example2 = ('서울',)
print(type(tuple_example2))

<class 'str'>
<class 'tuple'>

# 3. 딕셔너리

- 구조체와 유사
    - {}를 이용해서 생성, key-value쌍으로 구성
    - 값은 중복 가능하나, key는 중복 불가
    - index를 이용한 참조 불가

In [94]:
dict = {'name':'Dahyun', 'Age':27}
dict

{'name': 'Dahyun', 'Age': 27}

In [95]:
dict['Age']

27

In [100]:
print(dict.get('Age'))
print(dict.get('Height')) 
# get을 쓰면 없는 key값을 넣어도 에러가 나지 않는다.

27
None

In [101]:
dict['Height'] = 163
dict

In [103]:
dict.pop('Height')
# 마지막 값

163

In [105]:
dict['Food'] = ("No cheese","Korean Food")
dict

{'name': 'Dahyun', 'Age': 27, 'Food': ('No cheese', 'Korean Food')}

In [106]:
# 반복문 사용하면 key 값만 반환
for key in dict:
    print(key)

name
Age
Food

In [108]:
# key값 반환 받고 싶을 때
dict.keys()

dict_keys(['name', 'Age', 'Food'])

In [109]:
# value값 반환 받고 싶을 때
dict.values()

dict_values(['Dahyun', 27, ('No cheese', 'Korean Food')])

In [110]:
# key, value값 둘 다 반환 받고 싶을 때
dict.items()

dict_items([('name', 'Dahyun'), ('Age', 27), ('Food', ('No cheese', 'Korean Food'))])

In [113]:
for key,values in dict.items():
    print("키값은 : {}, 밸류값은 : {}".format(key,values))

키값은 : name, 밸류값은 : Dahyun
키값은 : Age, 밸류값은 : 27
키값은 : Food, 밸류값은 : ('No cheese', 'Korean Food')

In [117]:
print("name" in dict)
print("Dahyun" in dict)

True
False

# 4. 셋

- 중복을 허용하지 않는 리스트(집합)
    - 순서가 없다(인덱스가 없다)

In [120]:
student_age ={12,44,24,12,23,5, "no_data"}
print(student_age)
# 중복 자동 제거, 순서(인덱스) 없음
# 겹치지 않는 숫자 조합 만들 때

{5, 23, 24, 12, 'no_data', 44}

In [122]:
student_age.add(42)
print(student_age)
# 겹치면 다시 안 넣어줌

{5, 23, 24, 42, 12, 'no_data', 44}

# 5. 연습문제

In [125]:
del list

In [155]:
numbers =list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 100]

In [138]:
numbers.pop()

100

In [139]:
del numbers[9]

In [140]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [142]:
numbers[:5:1]

[1, 2, 3, 4, 5]

In [143]:
numbers[1::2]

[2, 4, 6, 8, 100]

In [157]:
for num in range(1,len(numbers),2):
    numbers[num] = 0
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]